body {
    margin: 4em auto;
    width: 800px;
    background-color: black;
    font-family: sans-serif;
}

#canvas {
    background-color: black;
    border-radius: 4px;
}

#list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    color: white;
}

#list li {
    cursor: pointer;
}

#upload {
    display: none;
}