body {
    margin: 4em auto;
    width: 800px;
    background-color: black;
    font-family: sans-serif;
    overflow: hidden;
}

#canvas {
    background-color: black;
    border-radius: 4px;
}

#list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    color: white;
}

#list li {
    cursor: pointer;
}

#upload {
    display: none;
}

div#footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
}